<header class="builder-header" role="banner">
  <div class="builder-header__inner u-center">
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "builder-header-section",
  "settings": []
}
{% endschema %}
