<div class="builder-main-page page-width">
  <h1 class="builder-main-page__title">{{ page.title | escape }}</h1>
  <div class="builder-main-page__content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "builder-main-page-section",
  "settings": []
}
{% endschema %}
