/*
|--------------------------------------------------------------------------
| Lumen Engine
|--------------------------------------------------------------------------
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {

    margin: 0;

    color: var(--lum-color-text);

    background: var(--lum-color-background);

    font-family: var(--lum-font-family);

    font-size: var(--lum-font-size);

    line-height: var(--lum-line-height);

}

img {

    display: block;

    max-width: 100%;

    height: auto;

}

a {

    color: inherit;

    text-decoration: none;

}

button {

    font: inherit;

}

.lum {

    position: relative;

    width: 100%;

}

.lum-container {

    width: min(100%,
            var(--lum-page-width));

    margin-inline: auto;

    padding-inline: var(--lum-page-padding);

}

.lum-widget {

    position: relative;

}

@media (max-width:767px) {

    :root {

        --lum-page-padding: 16px;

    }

}


.lum-section {

    background: var(--lum-bg);

    background-image: var(--lum-bg-gradient);

    padding-top: var(--lum-padding-top);
    padding-right: var(--lum-padding-right);
    padding-bottom: var(--lum-padding-bottom);
    padding-left: var(--lum-padding-left);

}

@media (max-width:767px) {

    .lum-section {

        padding-top: var(--lum-padding-top-mobile);
        padding-right: var(--lum-padding-right-mobile);
        padding-bottom: var(--lum-padding-bottom-mobile);
        padding-left: var(--lum-padding-left-mobile);

    }

}