/*
|--------------------------------------------------------------------------
| Utility Classes
|--------------------------------------------------------------------------
*/

.lum-hidden{
    display:none !important;
}

.lum-relative{
    position:relative;
}

.lum-absolute{
    position:absolute;
}

.lum-flex{
    display:flex;
}

.lum-grid{
    display:grid;
}

.lum-flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.lum-w-100{
    width:100%;
}

.lum-h-100{
    height:100%;
}

.lum-overflow-hidden{
    overflow:hidden;
}

.lum-text-left{
    text-align:left;
}

.lum-text-center{
    text-align:center;
}

.lum-text-right{
    text-align:right;
}

.lum-sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0;
}